body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: #fdf6ec;
}

.teal { background: #0fb9b1; }
.pink { background: #ff6b81; }
.cream { background: #fdf6ec; }

.hero h1 {
    color: white;
    font-size: 64px;
    padding: 40px 0;
    margin: 0;
}

.sub-hero p {
    color: white;                 
    font-size: 24px;
    padding: 20px 0;
}

.menu {
    padding: 15px;
    margin-bottom: 20px;
}
.menu button {
    margin: 0 10px;
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #0fb9b1;
    color: white;
    transition: 0.3s;
    font-size: 20px;
}
.menu button:hover {
    transform: scale(1.1);
    background: #ff6b81;
}

.content {
    display: none;
    padding: 40px;
    max-width: 10000px;
    margin: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s ease;
}

.content.active {
    display: block;
    opacity: 1;
    transform: translateY(0);
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #0fb9b1;
    color: white;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
}

.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
}

.notif {
    font-size: 10px;
    color: pink;
}

.note{
    font-size: 20px;
    color:red;
}
.card p{
    font-size: 15px;
    color:rgb(0, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.price {
    display: block;
    font-weight: bold;
    color: #ff6b81;
    font-size: 20px;
}

.price a {
    box-sizing: border-box;
    background-color: #ff6b81;
    padding: 20px;
}

.card button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    background: #0fb9b1;
    color: white;
    margin-bottom: 20px;
}

.popular-box {
    background: #ff6b81;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.popular-box img {
    width: 200px;
    border-radius: 15px;
}

.guest-form {
    max-width: 400px;
    margin: auto;
}
.guest-form input,
.guest-form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}
.guest-form button {
    padding: 10px 30px;
    background: #ff6b81;
    color: white;
    border: none;
    border-radius: 20px;
}

.card img,
.popular-box img {
    transition: opacity 0.8s ease;
}

@media (max-width: 900px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 42px;
    }

    .menu button {
        margin: 5px;
        width: 80%;
    }
}